.videoinfo {
  margin-top: 60px;
  color: aliceblue;
  display: flex;
  .videoInfoLeft {
    width: 139%;
    // border: 2px solid rgb(32, 216, 63);
    margin-right: 20px;
    .videoBox {
      // border: 2px solid white;
      margin-left: 56px;
      .player {
        // border: 2px solid red;
        width: 100%;
      }
      .videoSpecification {
        .title {
          // border: 2px solid red;
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .aboutChannel {
          // border: 2px solid rgb(32, 237, 42);
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .left {
            // border: 2px solid yellow;
            display: flex;
            align-items: center;
            column-gap: 20px;
            width: 50%;
            .channelLogo {
              img {
                border-radius: 50px;
              }
            }
            .channelName_Subscriber {
              display: flex;
              flex-direction: column;
              .channelname {
                font-weight: 900;
                font-size: 11px;
              }
              .subscriber {
                font-size: 11px;
              }
            }
            .subBtn {
              button {
                padding-block: 7px;
                padding-inline: 20px;
                border-radius: 50px;
                outline: border;
                outline: none;
                border: none;
                font-size: 16px;
                font-weight: 700;
              }
            }
          }
          .right {
            width: 50%;

            .likes_views_comments {
              display: flex;
              justify-content: space-evenly;
              // border: 2px solid red;

              button {
                padding-block: 7px;
                padding-inline: 5px;
                border-radius: 50px;
                outline: border;
                outline: none;
                border: none;
                font-size: 16px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    hr {
      background-color: gray;
      background-color: #434343;
      width: 89%;
      margin-left: 56px;
      margin-top: 15px;
      margin-bottom: 20px;
      border-radius: 20px;
      padding: 0.7px;
    }

    .comments {
      // border: 2px solid red;
      color: white;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      margin-left: 56px;
      row-gap: 31px;
      width: 63%;
      margin-top: 30px;
      .box {
        display: flex;
        // border: 2px solid green;
        align-items: center;
        column-gap: 30px;
        .logo {
          img {
            border-radius: 50px;
          }
        }
        .title_publishedTimeText_comment {
          // border: 2px solid;
          width: 100%;
          .title_publishedTimeText {
            display: flex;
            align-items: center;
            column-gap: 19px;
            font-size: 14px;
            .title {
            }
            .publishedTimeText {
              font-size: 12px;
              color: #989898;
            }
          }
          .comment {
            // border: 2px solid rgb(222, 23, 23);
            padding-block: 10px;
            width: 100%;
          }
        }
      }
    }
  }
}
