@import "../../common/Colors.scss";

.HomeCon {
  // border: 2px solid red;
  background-color: $primaryBackgourdColor;
  color: $secondaryFontColor;
  // height: 99vh;
  // background-color: green;
  h2 {
  }
  .navigateIcons {
    // border: 2px solid red;
    position: fixed;
    top: 117px;
    left: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    justify-content: center;
    padding: 10px;
    width: 8%;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      // overflow: hidden;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 44px;
        height: 40px;
        border-radius: 24px;
        color: #fff;
        font-size: 20px;
        // border: 2px solid;
        background-color: $secondaryBackgroundColor;
        color: $secondaryFontColor;
        transition: 0.9s;
        .text {
          visibility: hidden;
          margin-left: 10px;
          // font-size: 14px;
          // font-weight: bold;
          position: absolute;
          top: -20px;
        }

        &:hover {
          // a tag ke upar hover
          width: 100px;

          .text {
            visibility: visible;
            // border: 2px solid;
            margin-right: 7px;
            font-size: 24px;
            font-weight: bold;
            top: 4px;
            // background-color: $cardColor;
            backdrop-filter: blur(10px);
            border-radius: 30px;
          }
        }
      }
    }
  }

  h2 {
    position: relative;
    z-index: 20;
  }
  .leftPart {
    // border: 2px solid pink;
    display: flex;
    align-items: center;
    margin-top: 126px;
    column-gap: 40px;

    .content {
      // border: 2px solid rebeccapurple;
      display: flex;
      flex-direction: column;
      row-gap: 48px;
      width: 51%;
      padding: 7px;
      line-height: 24px;
      z-index: 20;
      margin-left: 24%;

      h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 37px;

        span {
          &:first-child {
            display: flex;
            justify-content: center;
            // text-align: center;
            color: $primaryFontColor;
            position: relative;
            padding-bottom: 20px;
            font-size: 43px;

            p {
              color: $secondaryFontColor;
            }

            &::before {
              content: "";
              position: absolute;
              border: 2px solid #ffb400;
              transform: rotate(180deg);
              top: 10px;
              left: 77px;

              width: 10%;
            }
          }

          &:last-child {
            display: flex;
            justify-content: center;
            column-gap: 10px;
            // text-align: center;
            color: $primaryFontColor;

            p {
              color: $secondaryFontColor;
            }
          }
        }
      }
      .para {
        // border: 2px solid cadetblue;
      }
      .Homebtn {
        height: 0px;
        button {
          padding-inline: 30px;
          padding-block: 10px;
          font-size: 20px;
          font-weight: 600;
          // width: 50%;
          border: 1.9px solid $secondaryBackgroundColor;
          border-radius: 24px;
          background-color: $buttonBackgorundColor;
          color: $secondaryFontColor;
        }
      }
    }
  }
}

@media screen and (max-width: 1211px) {
  .leftPart {
    .content {
      // border: 2px solid rebeccapurple;
      h2 {
        span {
          &:first-child {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 895px) {
  .HomeCon {
    .navigateIcons {
      top: 0;
      flex-direction: row;
      width: 100%;
    }
  }
}
@media screen and (max-width: 771px) {
  .HomeCon {
    h2 {
      position: relative;
      z-index: 20;
    }
    .navigateIcons {
      // border: 2px solid;
      top: 6px;
      flex-direction: row;
      height: 0;
      padding: 27px;
      width: 78%;
      left: 87px;
      z-index: 19;

      // width: 100%;
    }
    .leftPart {
      .content {
        row-gap: 56px;
        h2 {
          font-size: 20px;
          span {
            &:first-child {
              font-size: 47px;
            }
          }
        }
        .para {
          width: 149%;
        }
      }
    }
  }
}

//mobile
// 426 my phone
@media screen and (max-width: 426px) {
  .HomeCon {
    h2 {
      display: none;
    }
    .navigateIcons {
      top: 0;
      left: 0;
      width: 98%;
    }
    .leftPart {
      justify-content: space-between;
      .content {
        row-gap: 99px;
        margin-left: 20px;
        h2 {
          font-size: 20px;
          span {
            &:first-child {
              width: 113%;
              font-size: 25px;
              transform: translateX(67px);
            }
            &:last-child {
              transform: translateX(78px);
            }
          }
        }
        .para {
          width: 173%;
        }
        .Homebtn {
          button {
            padding-inline: 30px;
            font-size: 19px;
            font-weight: 900;
            width: 121%;
            transform: translate(51px, 10px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .HomeCon {
    h2 {
      display: none;
    }
    .navigateIcons {
      top: 0;
      left: 0;
      width: 98%;
    }
    .leftPart {
      justify-content: space-between;
      .content {
        row-gap: 99px;
        margin-left: 20px;
        h2 {
          font-size: 20px;
          span {
            &:first-child {
              width: 113%;
              font-size: 25px;
              transform: translateX(67px);
            }
            &:last-child {
              transform: translateX(78px);
            }
          }
        }
        .para {
          width: 190%;
        }
        .Homebtn {
          height: 0px;
          button {
            padding-inline: 11px;
            padding-block: 6px;
            transform: translate(62px, -33px);
            // transform: translate(75px, -31px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .HomeCon {
    h2 {
      display: none;
    }
    .navigateIcons {
      top: 0;
      left: 0;
      width: 98%;
    }
    .leftPart {
      justify-content: space-between;
      .content {
        row-gap: 99px;
        margin-left: 20px;
        h2 {
          font-size: 20px;
          span {
            &:first-child {
              width: 113%;
              font-size: 25px;
              transform: translateX(28px);
            }
            &:last-child {
              transform: translateX(48px);
            }
          }
        }
        .para {
          width: 190%;
        }
        .Homebtn {
          height: 0px;
          button {
            padding-inline: 11px;
            padding-block: 6px;
            transform: translate(62px, -33px);
            // transform: translate(95px, -31px);
          }
        }
      }
    }
  }
}
