$primaryFontColor: #ffb400;
$secondaryFontColor: #ffffff;
$primaryBackgourdColor: #252525;
$secondaryBackgroundColor: #ffb400;
$buttonBackgorundColor: #474141;
$cardColor: #2e2d2d;
$cardHoverColor: #fabc2cbc;
$borderColor: #00d9ff;
